<?xml version="1.0" encoding="UTF-8"?>
<jnlp spec="1.0+" codebase="http://www.stat.columbia.edu/~fwood/jnlp/football">
    <information>
        <title>Football Odds Estimation Tool</title>
        <vendor>Frank Wood and Jonas Schwertfeger</vendor>
        <homepage>http://www.stat.columbia.edu/~fwood/</homepage>
    </information>
    <offline-allowed/>
    <security>
        <all-permissions/>
    </security>
    <resources>
        <j2se version="1.6+"/>
        $dependencies
    </resources>
    <application-desc main-class="$mainClass"/>
</jnlp>
