<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>138.33.0.157554</string>
	</array>
	<key>AutoAdjust</key>
	<false/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1152, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>CanvasSize</key>
	<string>{1152, 733}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2011-06-29 20:09:25 +0000</string>
	<key>Creator</key>
	<string>Jonathan Huggins</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{246.5, 465}, {31, 25}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>136</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>131</integer>
			</dict>
			<key>ID</key>
			<integer>148</integer>
			<key>Points</key>
			<array>
				<string>{801.25, 364.5}</string>
				<string>{890.75, 364.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>Pattern</key>
					<integer>18</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>146</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>60</integer>
			</dict>
			<key>ID</key>
			<integer>133</integer>
			<key>Points</key>
			<array>
				<string>{900.25, 364.5}</string>
				<string>{952.99994, 364.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>131</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>146</integer>
			</dict>
			<key>ID</key>
			<integer>147</integer>
			<key>Points</key>
			<array>
				<string>{739.00006, 364.5}</string>
				<string>{791.75, 364.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>87</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{792, 333}, {9, 63}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>146</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>61</integer>
			</dict>
			<key>ID</key>
			<integer>117</integer>
			<key>Points</key>
			<array>
				<string>{259.06027, 441.02759}</string>
				<string>{495, 549}</string>
				<string>{951.50983, 469.4249}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>44</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>88</integer>
			</dict>
			<key>ID</key>
			<integer>116</integer>
			<key>Points</key>
			<array>
				<string>{259.32144, 440.44138}</string>
				<string>{468, 531}</string>
				<string>{594, 513}</string>
				<string>{674.91382, 477.39792}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>44</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>58</integer>
			</dict>
			<key>ID</key>
			<integer>114</integer>
			<key>Points</key>
			<array>
				<string>{259.96234, 438.84872}</string>
				<string>{459, 513}</string>
				<string>{565.97931, 475.03961}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>44</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>149</integer>
			</dict>
			<key>ID</key>
			<integer>151</integer>
			<key>Points</key>
			<array>
				<string>{260.6582, 436.76324}</string>
				<string>{396, 477}</string>
				<string>{456.34491, 468.3793}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>44</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>60</integer>
			</dict>
			<key>ID</key>
			<integer>112</integer>
			<key>Points</key>
			<array>
				<string>{260.89499, 329.07697}</string>
				<string>{414, 288}</string>
				<string>{639, 297}</string>
				<string>{953.5965, 358.28503}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>42</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>87</integer>
			</dict>
			<key>ID</key>
			<integer>110</integer>
			<key>Points</key>
			<array>
				<string>{261.08365, 329.81747}</string>
				<string>{396, 297}</string>
				<string>{576, 306}</string>
				<string>{676.83563, 351.20218}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>42</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>57</integer>
			</dict>
			<key>ID</key>
			<integer>109</integer>
			<key>Points</key>
			<array>
				<string>{261.20578, 330.34061}</string>
				<string>{369, 306}</string>
				<string>{504, 315}</string>
				<string>{569.70306, 349.41586}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>42</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>54</integer>
			</dict>
			<key>ID</key>
			<integer>107</integer>
			<key>Points</key>
			<array>
				<string>{261.45953, 331.58157}</string>
				<string>{351, 315}</string>
				<string>{432, 324}</string>
				<string>{463.77429, 345.99759}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>42</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>52</integer>
			</dict>
			<key>ID</key>
			<integer>106</integer>
			<key>Points</key>
			<array>
				<string>{261.72858, 333.29626}</string>
				<string>{333, 324}</string>
				<string>{357.3446, 343.9183}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>42</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>61</integer>
			</dict>
			<key>ID</key>
			<integer>105</integer>
			<key>Points</key>
			<array>
				<string>{985.5, 397}</string>
				<string>{985.5, 429}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>60</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>88</integer>
			</dict>
			<key>ID</key>
			<integer>94</integer>
			<key>Points</key>
			<array>
				<string>{706.5, 397}</string>
				<string>{706.5, 429}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>87</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>87</integer>
			</dict>
			<key>ID</key>
			<integer>93</integer>
			<key>Points</key>
			<array>
				<string>{631.00006, 364.49988}</string>
				<string>{673.99994, 364.49969}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>57</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>58</integer>
			</dict>
			<key>ID</key>
			<integer>91</integer>
			<key>Points</key>
			<array>
				<string>{598.5, 397}</string>
				<string>{598.5, 429}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>57</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>149</integer>
			</dict>
			<key>ID</key>
			<integer>150</integer>
			<key>Points</key>
			<array>
				<string>{490.5, 397}</string>
				<string>{490.5, 429}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>54</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{675, 432}, {63, 63}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>88</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>GapRatio</key>
					<real>0.5</real>
					<key>Width</key>
					<real>6</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf0  }</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{675, 333}, {63, 63}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>87</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf0   }</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>57</integer>
			</dict>
			<key>ID</key>
			<integer>82</integer>
			<key>Points</key>
			<array>
				<string>{523.00006, 364.49988}</string>
				<string>{565.99994, 364.49969}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>54</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>54</integer>
			</dict>
			<key>ID</key>
			<integer>80</integer>
			<key>Points</key>
			<array>
				<string>{415, 364.49988}</string>
				<string>{458, 364.49969}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>52</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{954, 432}, {63, 63}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>61</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>GapRatio</key>
					<real>0.5</real>
					<key>Width</key>
					<real>6</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{954, 333}, {63, 63}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>60</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{567, 432}, {63, 63}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>58</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>GapRatio</key>
					<real>0.5</real>
					<key>Width</key>
					<real>6</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf0  }</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{567, 333}, {63, 63}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>57</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf0   }</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{459, 432}, {63, 63}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>149</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>GapRatio</key>
					<real>0.5</real>
					<key>Width</key>
					<real>6</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf0  }</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{459, 333}, {63, 63}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>54</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf0  }</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{351, 333}, {63, 63}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>52</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf0   }</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{198, 396}, {63, 63}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>44</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{198, 306}, {63, 63}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>42</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf0  }</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{171, 279}, {117, 216}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{891, 333}, {9, 63}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>131</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>SnapsToGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>17</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict>
			<key>ApplicationURL</key>
			<string>http://pierre.chachatelier.fr/latexit/index.php</string>
			<key>appData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGeXpYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QGQcIDiYnKzI4OUBBSUpNUFRYWV9i
			ZmltcXZVJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4AYoQ2A
			AtwPEBESExQVFhcYGQkaGxwdHh8gISIjJCVXcGRmRGF0YVpzb3Vy
			Y2VUZXh0V3ZlcnNpb25YcHJlYW1ibGVZcG9pbnRTaXplWGJhc2Vs
			aW5lXxAPYmFja2dyb3VuZENvbG9yVWNvbG9yVXRpdGxlVGRhdGVU
			bW9kZYAEgA+AA4AGI0BCAAAAAAAAIwAAAAAAAAAAgACAEYAVgBMQ
			BIAXVTIuNC4x0gkoKSpXTlMuZGF0YYAFTxEhXCVQREYtMS40CiXQ
			1MXYCjUgMCBvYmogPDwKL0xlbmd0aCAyOSAgICAgICAgCi9GaWx0
			ZXIgL0ZsYXRlRGVjb2RlCj4+CnN0cmVhbQp42ivkMlQwAEIImZzL
			pe+Wa6jgks8VyAUASiwFgwplbmRzdHJlYW0KZW5kb2JqCjQgMCBv
			YmogPDwKL1R5cGUgL1BhZ2UKL0NvbnRlbnRzIDUgMCBSCi9SZXNv
			dXJjZXMgMyAwIFIKL01lZGlhQm94IFswIDAgMzEgMjVdCi9QYXJl
			bnQgNiAwIFIKPj4gZW5kb2JqCjIgMCBvYmogPDwKL1R5cGUgL1hP
			YmplY3QKL1N1YnR5cGUgL0Zvcm0KL0JCb3ggWzAgMCAzMSAyNV0K
			L0Zvcm1UeXBlIDEKL01hdHJpeCBbMSAwIDAgMSAwIDBdCi9SZXNv
			dXJjZXMgNyAwIFIKL0xlbmd0aCAzOSAgICAgICAgCi9GaWx0ZXIg
			L0ZsYXRlRGVjb2RlCj4+CnN0cmVhbQp42ivkMlQwAEJDBV1DMwVd
			IyMLc4XkXC59z1xDBZd8rkAuAGzQBroKZW5kc3RyZWFtCmVuZG9i
			agoxIDAgb2JqIDw8Ci9UeXBlIC9YT2JqZWN0Ci9TdWJ0eXBlIC9G
			b3JtCi9Gb3JtVHlwZSAxCi9QVEVYLkZpbGVOYW1lICguL3RtcC1w
			ZGZjcm9wLTMxNzU5LWltZy5wZGYpCi9QVEVYLlBhZ2VOdW1iZXIg
			MQovUFRFWC5JbmZvRGljdCA4IDAgUgovQkJveCBbMCAwIDExMjAg
			MjMxNV0KL1Jlc291cmNlcyA8PAovWE9iamVjdCA8PAovRm0xIDkg
			MCBSCj4+L1Byb2NTZXQgWyAvUERGIF0KPj4KL0xlbmd0aCA2MAov
			RmlsdGVyIC9GbGF0ZURlY29kZQo+PgpzdHJlYW0KeNozVDAAQkMF
			QxM9SxMTBSMjCzM9I4XkXK5CLmM9MwMQAKtA4YClDaE6oQL6brmG
			Ci75XIFACAC1rhCDCmVuZHN0cmVhbQplbmRvYmoKOCAwIG9iago8
			PAovUHJvZHVjZXIgKHBkZlRlWC0xLjQwLjkpCi9DcmVhdG9yIChU
			ZVgpCi9DcmVhdGlvbkRhdGUgKEQ6MjAxMTExMDkxMDUxMDgtMDUn
			MDAnKQovTW9kRGF0ZSAoRDoyMDExMTEwOTEwNTEwOC0wNScwMCcp
			Ci9UcmFwcGVkIC9GYWxzZQovUFRFWC5GdWxsYmFubmVyIChUaGlz
			IGlzIHBkZlRlWCwgVmVyc2lvbiAzLjE0MTU5MjYtMS40MC45LTIu
			MiBcKFdlYjJDIDcuNS43XCkga3BhdGhzZWEgdmVyc2lvbiAzLjUu
			NykKPj4KZW5kb2JqCjkgMCBvYmoKPDwKL1R5cGUgL1hPYmplY3QK
			L1N1YnR5cGUgL0Zvcm0KL0JCb3ggWyAwIDAgMTAgOF0KL0Zvcm1U
			eXBlIDEKL01hdHJpeCBbIDEgMCAwIDEgMCAwXQovUmVzb3VyY2Vz
			IDEwIDAgUgovTGVuZ3RoIDQ2Ci9GaWx0ZXIgL0ZsYXRlRGVjb2Rl
			Cj4+CnN0cmVhbQp42ivkMlQwAEJDBV1jAwM9S0tLBV0zYxMgw0Ih
			OZdL3zPXUMElnyuQCwCnNghhCmVuZHN0cmVhbQplbmRvYmoKMTAg
			MCBvYmoKPDwKL1hPYmplY3QgPDwKL0ltMSAxMSAwIFIKPj4KL1By
			b2NTZXQgWy9QREZdCj4+CmVuZG9iagoxMSAwIG9iago8PAovVHlw
			ZSAvWE9iamVjdAovU3VidHlwZSAvRm9ybQovRm9ybVR5cGUgMQov
			UFRFWC5GaWxlTmFtZSAoLi9sYXRleGl0LTIucGRmKQovUFRFWC5Q
			YWdlTnVtYmVyIDEKL1BURVguSW5mb0RpY3QgMTIgMCBSCi9CQm94
			IFsgMCAwIDYxMiA3OTJdCi9SZXNvdXJjZXMgPDwKL0ZvbnQgPDwK
			L0YxMSAxMyAwIFIKPj4KL1Byb2NTZXQgWy9QREYvVGV4dF0KPj4K
			L0xlbmd0aCA4NgovRmlsdGVyIC9GbGF0ZURlY29kZQo+PgpzdHJl
			YW0KeNoz0DMwMFAwQCKL0lG4EDLInctAASihAKSJ1uEUwqXvZmio
			YKlnaWZkphCSpmBsYKhnYGyuYGZsqmdsaKEQkqIQreGtGRviRYKx
			xKt0DeECAA1cK4MKZW5kc3RyZWFtCmVuZG9iagoxMiAwIG9iago8
			PAovUHJvZHVjZXIgKHBkZlRlWC0xLjQwLjkpCi9DcmVhdG9yIChU
			ZVgpCi9DcmVhdGlvbkRhdGUgKEQ6MjAxMTExMDkxMDUxMDgtMDUn
			MDAnKQovTW9kRGF0ZSAoRDoyMDExMTEwOTEwNTEwOC0wNScwMCcp
			Ci9UcmFwcGVkIC9GYWxzZQovUFRFWC5GdWxsYmFubmVyIChUaGlz
			IGlzIHBkZlRlWCwgVmVyc2lvbiAzLjE0MTU5MjYtMS40MC45LTIu
			MiBcKFdlYjJDIDcuNS43XCkga3BhdGhzZWEgdmVyc2lvbiAzLjUu
			NykKPj4KZW5kb2JqCjEzIDAgb2JqCjw8Ci9UeXBlIC9Gb250Ci9T
			dWJ0eXBlIC9UeXBlMQovRmlyc3RDaGFyIDc1Ci9MYXN0Q2hhciA3
			NQovV2lkdGhzIDE0IDAgUgovRm9udERlc2NyaXB0b3IgMTUgMCBS
			Ci9CYXNlRm9udCAxNiAwIFIKL0VuY29kaW5nIDE3IDAgUgo+Pgpl
			bmRvYmoKMTQgMCBvYmoKWyA4NDkuM10KZW5kb2JqCjE1IDAgb2Jq
			Cjw8Ci9UeXBlIC9Gb250RGVzY3JpcHRvcgovRm9udE5hbWUgL0hH
			Q0VRVStDTU1JMTAKL0ZsYWdzIDQKL0ZvbnRCQm94IFsgLTMyIC0y
			NTAgMTA0OCA3NTBdCi9Bc2NlbnQgNzUwCi9DYXBIZWlnaHQgNzUw
			Ci9EZXNjZW50IC0yNTAKL0l0YWxpY0FuZ2xlIC0xNAovU3RlbVYg
			NzIKL0NoYXJTZXQgKC9LKQovRm9udEZpbGUgMTggMCBSCj4+CmVu
			ZG9iagoxNiAwIG9iagovSEdDRVFVK0NNTUkxMAplbmRvYmoKMTcg
			MCBvYmoKPDwKL1R5cGUgL0VuY29kaW5nCi9EaWZmZXJlbmNlcyBb
			IDc1L0tdCj4+CmVuZG9iagoxOCAwIG9iago8PAovTGVuZ3RoMSA3
			NDgKL0xlbmd0aDIgMTIyNQovTGVuZ3RoMyAwCi9MZW5ndGggMTc1
			MwovRmlsdGVyIC9GbGF0ZURlY29kZQo+PgpzdHJlYW0KeNqtkmlU
			U9cWxxGhSHhWQHy+tCAHEDGmkAQIkCAGhDCFIIIIKlO4uZGb6aYh
			YMIsFlQcXw1osExVisCqgIIIBa15FlhlEJAqUMRqUeaiIk4MvgvW
			1fXo17fOl7P3/p+9f+d/jqVZQJC1GxeNhj1RscyaYkOhA3c224dC
			BtieTMZZWrpLYY4MQcUeHBlMBxQazQH4xgmBrR0gO9KpdnSqI84S
			uKMShRTZHyMDm90JiyJH4CaCpQjEEQM2RxYDi7AeEEcIglAIgWUK
			G+AmFILAxROxIBCOhaXxMNcGR6EALgLJQDS8HxHjSItMPmIeChw/
			pLlxko+leFgai0GBzUuYBIBBclGxUAG4MA9H8kexaTDG8v/AWt7c
			M04o9OeIFtsvOfW3OkeECBV/KlCRJE4GSwEb5cJS8XJpCPwBjg1z
			kTjR8qqPjCNEIDfxfiEMrCn2NmT7D3kk1hORw9wARAbFAB5HGAsv
			5WExdzkJ5t8SB8nby525M5j459MuFQM4iFi2SyGBAfkv9VJM+SvG
			TJIicrCPbEMmUzAhtj7uwpcNY4ohlIuI9wNbqgPgSKUcBQ77RFhE
			BYkUgIi5sBzAcoyYZCNGZdgRgDmTDHioFLf4ro5UQGItpnB/v8P2
			7ag80drOFljbUrGeZHsnTE5O/h8hFCeVwmLZ0j/BnPgY8xDMPBiW
			wxCu7x4KOX/FP3stszSFeaGzTJsQa6wq+artRka1ytlmfNDZsEda
			e2cXvOGFQYYBHynXz5lkfU/i8qi/4a+5JTUnBpEyeg2aVxsRinKD
			dKag8bAIzZaCJvUaUd7R4T7TIUktcarfYuZh/A3tCr9RiuO3+Mks
			rdL79+anUwSp7b/16Z3jWjzJwYUX/OCXDe8eeXi69d2EF3oB7Stu
			WR+WO7N2oQ+vftAtGFitoh0rYK/8ReUyp0smyHmP2nGU8wLTvtB8
			mm8QfZWxQ8/uQhXQ+MzFTBW6re46i/3Hqt+7CLTfzVT/6PZJT87x
			DvEJfvV5WZEhVPq50MWrGL8CrlTvvSnaJr51eKhyZ7qhoLLT1kVJ
			kdRmWwZGvZ23fLHxhNbL8NnZwdfvj+FvTkGJZhr/uqwZQnQ6z4jf
			TBwntJHx2nePNJvt4cScGZa5MbwH9VyPNYk6GI+S6t6wQSjtlzSj
			e5eOWPTZ4kbpb0VnC79g7yVeud78dRhTrkHbc1sW9s3xlrU/dTDB
			z3kRV65kP+o9Hp4m8ThkT044HMg/mj8b/rQftX5LjSqaLhnTHCvI
			O80a07vBOOFFv2xQDuI5ga3qoqunXBdCbJtvpbNIgn6lcmtAWtVw
			8qnVI7FnPIOrzl5Nt3bjvWAMPMvu97bUMbh25anykpoy8bA52izM
			s9qpvtYj/9mmU+8mwfP4aTGOx65RJvWt2qLaMpTzjf4M9XFb5+no
			unjjDlkk44wg59G5VxYJrlezTLQCn5p2lU9NHbzhR7pweM7/FtlN
			kWT+61C7mg+hLf11rQ+2Rppv9j86kNL5avfpx/pbP/1pI7GrDY1s
			KLm0Sjg3Nmbi+zrkCOq0zmdFaVE68PW6NDo382bcga7u1l/jyrov
			2WbFbFQ5iiu60Okwk/o1G30FJzw+2UN9XNdDbT2vaXqV7/CSx0/T
			mhzsarWLyFe06Wt/Xf2FVsJUFGnuaV2GdTO9Q89pnVNBB7/i5HT8
			wo/OOz550wuPdHxZLYFc7CtDdarNobsE2hb3ffXvoh5r0J6tWbsH
			qtxtlCZcl8sd3nTZuKnBxCdUkGiedsB8LHGHza52/4EJrxFtVmBN
			yGffB8kMK0PKCZ6rk1QWzbC/YdlAO6pxu8TpeXlmd49q9uCGSOtv
			hdOl20uLDHrZ6xGHuH96jK4f3pCRZWQvtyq5UBbBw9c3VMn9nmSe
			T7tr3rjP33llFIOgFXexae+MCap9cUXJl9nB9/OJxb6Z/Fqrl1M6
			O6t0Ihozi8dL88+6x5ir7O/0Zn1X780orkswfQKU86a6hUPP5hyT
			C0+9HthhrDCrCQufS2RD9VlaCa9bO8eCc00jU2cLvyMdvY1nqgNF
			tkIkL1p5S/e52n8UT6/R3T6SG3yz/iRl+LpVynEOq6pN8QNfq6Jr
			IUOglO/d1wOxVMELuANeTeW/qreprfQfdL+v8rx5Mav6op1uJf94
			fsba1lxbYmppiGAlE5Wo8USdymiaJCLGKnXWnTF1R1nWO1E4X+8P
			/n2MTGRwQyosDjyZrDnXG9to8B/fFr2VGRXQwUOphzJTzLsn6qPK
			dKoGw4cPM8djfvzZaJ5T8elgW0G1ZiVp5zW94ffalNmFcScytSMh
			wI+ldj1Q7VxO3tSwSd2Q18h0VWa1HDn5x38BuhxMewplbmRzdHJl
			YW0KZW5kb2JqCjcgMCBvYmogPDwKL1hPYmplY3QgPDwgL0ltMSAx
			IDAgUiA+PgovUHJvY1NldCBbIC9QREYgXQo+PiBlbmRvYmoKMyAw
			IG9iaiA8PAovWE9iamVjdCA8PCAvRm0xIDIgMCBSID4+Ci9Qcm9j
			U2V0IFsgL1BERiBdCj4+IGVuZG9iago2IDAgb2JqIDw8Ci9UeXBl
			IC9QYWdlcwovQ291bnQgMQovS2lkcyBbNCAwIFJdCj4+IGVuZG9i
			agoxOSAwIG9iaiA8PAovVHlwZSAvQ2F0YWxvZwovUGFnZXMgNiAw
			IFIKPj4gZW5kb2JqCjIwIDAgb2JqIDw8Ci9Qcm9kdWNlciAocGRm
			VGVYLTEuNDAuOSkKL0NyZWF0b3IgKFRlWCkKL0NyZWF0aW9uRGF0
			ZSAoRDoyMDExMTEwOTEwNTEwOS0wNScwMCcpCi9Nb2REYXRlIChE
			OjIwMTExMTA5MTA1MTA5LTA1JzAwJykKL1RyYXBwZWQgL0ZhbHNl
			Ci9QVEVYLkZ1bGxiYW5uZXIgKFRoaXMgaXMgcGRmVGVYLCBWZXJz
			aW9uIDMuMTQxNTkyNi0xLjQwLjktMi4yIChXZWIyQyA3LjUuNykg
			a3BhdGhzZWEgdmVyc2lvbiAzLjUuNykKPj4gZW5kb2JqCm9iago8
			PAovRW5jb2RpbmcgL01hY1JvbWFuRW5jb2RpbmcKL1ByZWFtYmxl
			IChFU2Fubm9wRVNzbGFzaGRvY3VtZW50Y2xhc3NbMTBwdF1FU2xl
			ZnRicmFja2FydGljbGVFU3JpZ2h0YnJhY2sKRVNzbGFzaHVzZXBh
			Y2thZ2VbdXNlbmFtZXNdRVNsZWZ0YnJhY2tjb2xvckVTcmlnaHRi
			cmFjayAldXNlZCBmb3IgZm9udCBjb2xvcgpFU3NsYXNodXNlcGFj
			a2FnZUVTbGVmdGJyYWNrYW1zc3ltYkVTcmlnaHRicmFjayAlbWF0
			aHMKRVNzbGFzaHVzZXBhY2thZ2VFU2xlZnRicmFja2Ftc21hdGhF
			U3JpZ2h0YnJhY2sgJW1hdGhzCkVTc2xhc2h1c2VwYWNrYWdlW3V0
			ZjhdRVNsZWZ0YnJhY2tpbnB1dGVuY0VTcmlnaHRicmFjayAldXNl
			ZnVsIHRvIHR5cGUgZGlyZWN0bHkgZGlhY3JpdGljIGNoYXJhY3Rl
			cnMKRVNhbm5vcGVuZCkKL0VzY2FwZWRQcmVhbWJsZSAoRVNhbm5v
			ZXAlNUNkb2N1bWVudGNsYXNzJTVCMTBwdCU1RCU3QmFydGljbGUl
			N0QlMEElNUN1c2VwYWNrYWdlJTVCdXNlbmFtZXMlNUQlN0Jjb2xv
			ciU3RCUyMCUyNXVzZWQlMjBmb3IlMjBmb250JTIwY29sb3IlMEEl
			NUN1c2VwYWNrYWdlJTdCYW1zc3ltYiU3RCUyMCUyNW1hdGhzJTBB
			JTVDdXNlcGFja2FnZSU3QmFtc21hdGglN0QlMjAlMjVtYXRocyUw
			QSU1Q3VzZXBhY2thZ2UlNUJ1dGY4JTVEJTdCaW5wdXRlbmMlN0Ql
			MjAlMjV1c2VmdWwlMjB0byUyMHR5cGUlMjBkaXJlY3RseSUyMGRp
			YWNyaXRpYyUyMGNoYXJhY3RlcnMlMEFFU2Fubm9lcGVuZCkKL1N1
			YmplY3QgKEVTYW5ub3RLRVNhbm5vdGVuZCkKL0VzY2FwZWRTdWJq
			ZWN0IChFU2Fubm9lc0tFU2Fubm9lc2VuZCkKL1R5cGUgKEVFdHlw
			ZTRFRXR5cGVlbmQpCi9Db2xvciAoRUVjb2wwLjAwMDAwMCAwLjAw
			MDAwMCAwLjAwMDAwMCAxLjAwMDAwMEVFY29sZW5kKQovQktDb2xv
			ciAoRUVia2MxLjAwMDAwMCAxLjAwMDAwMCAxLjAwMDAwMCAxLjAw
			MDAwMEVFYmtjZW5kKQovVGl0bGUgKEVFdGl0bGVFRXRpdGxlZW5k
			KQovTWFnbmlmaWNhdGlvbiAoRUVtYWczNi4wMDAwMDBFRW1hZ2Vu
			ZCkKL0Jhc2VsaW5lIChFRWJhczAuMDAwMDAwRUViYXNlbmQpCj4+
			CmVuZG9iagoKb2JqCjw8Ci9FbmNvZGluZyAvTWFjUm9tYW5FbmNv
			ZGluZwovUHJlYW1ibGUgKEVTYW5ub3BFU3NsYXNoZG9jdW1lbnRj
			bGFzc1sxMHB0XUVTbGVmdGJyYWNrYXJ0aWNsZUVTcmlnaHRicmFj
			awpFU3NsYXNodXNlcGFja2FnZVt1c2VuYW1lc11FU2xlZnRicmFj
			a2NvbG9yRVNyaWdodGJyYWNrICV1c2VkIGZvciBmb250IGNvbG9y
			CkVTc2xhc2h1c2VwYWNrYWdlRVNsZWZ0YnJhY2thbXNzeW1iRVNy
			aWdodGJyYWNrICVtYXRocwpFU3NsYXNodXNlcGFja2FnZUVTbGVm
			dGJyYWNrYW1zbWF0aEVTcmlnaHRicmFjayAlbWF0aHMKRVNzbGFz
			aHVzZXBhY2thZ2VbdXRmOF1FU2xlZnRicmFja2lucHV0ZW5jRVNy
			aWdodGJyYWNrICV1c2VmdWwgdG8gdHlwZSBkaXJlY3RseSBkaWFj
			cml0aWMgY2hhcmFjdGVycwpFU2Fubm9wZW5kKQovRXNjYXBlZFBy
			ZWFtYmxlIChFU2Fubm9lcCU1Q2RvY3VtZW50Y2xhc3MlNUIxMHB0
			JTVEJTdCYXJ0aWNsZSU3RCUwQSU1Q3VzZXBhY2thZ2UlNUJ1c2Vu
			YW1lcyU1RCU3QmNvbG9yJTdEJTIwJTI1dXNlZCUyMGZvciUyMGZv
			bnQlMjBjb2xvciUwQSU1Q3VzZXBhY2thZ2UlN0JhbXNzeW1iJTdE
			JTIwJTI1bWF0aHMlMEElNUN1c2VwYWNrYWdlJTdCYW1zbWF0aCU3
			RCUyMCUyNW1hdGhzJTBBJTVDdXNlcGFja2FnZSU1QnV0ZjglNUQl
			N0JpbnB1dGVuYyU3RCUyMCUyNXVzZWZ1bCUyMHRvJTIwdHlwZSUy
			MGRpcmVjdGx5JTIwZGlhY3JpdGljJTIwY2hhcmFjdGVycyUwQUVT
			YW5ub2VwZW5kKQovU3ViamVjdCAoRVNhbm5vdEtFU2Fubm90ZW5k
			KQovRXNjYXBlZFN1YmplY3QgKEVTYW5ub2VzS0VTYW5ub2VzZW5k
			KQovVHlwZSAoRUV0eXBlNEVFdHlwZWVuZCkKL0NvbG9yIChFRWNv
			bDAuMDAwMDAwIDAuMDAwMDAwIDAuMDAwMDAwIDEuMDAwMDAwRUVj
			b2xlbmQpCi9CS0NvbG9yIChFRWJrYzEuMDAwMDAwIDEuMDAwMDAw
			IDEuMDAwMDAwIDEuMDAwMDAwRUVia2NlbmQpCi9UaXRsZSAoRUV0
			aXRsZUVFdGl0bGVlbmQpCi9NYWduaWZpY2F0aW9uIChFRW1hZzM2
			LjAwMDAwMEVFbWFnZW5kKQovQmFzZWxpbmUgKEVFYmFzMC4wMDAw
			MDBFRWJhc2VuZCkKPj4KZW5kb2JqCgpvYmoKPDwKL0VuY29kaW5n
			IC9NYWNSb21hbkVuY29kaW5nCi9QcmVhbWJsZSAoRVNhbm5vcEVT
			c2xhc2hkb2N1bWVudGNsYXNzWzEwcHRdRVNsZWZ0YnJhY2thcnRp
			Y2xlRVNyaWdodGJyYWNrCkVTc2xhc2h1c2VwYWNrYWdlW3VzZW5h
			bWVzXUVTbGVmdGJyYWNrY29sb3JFU3JpZ2h0YnJhY2sgJXVzZWQg
			Zm9yIGZvbnQgY29sb3IKRVNzbGFzaHVzZXBhY2thZ2VFU2xlZnRi
			cmFja2Ftc3N5bWJFU3JpZ2h0YnJhY2sgJW1hdGhzCkVTc2xhc2h1
			c2VwYWNrYWdlRVNsZWZ0YnJhY2thbXNtYXRoRVNyaWdodGJyYWNr
			ICVtYXRocwpFU3NsYXNodXNlcGFja2FnZVt1dGY4XUVTbGVmdGJy
			YWNraW5wdXRlbmNFU3JpZ2h0YnJhY2sgJXVzZWZ1bCB0byB0eXBl
			IGRpcmVjdGx5IGRpYWNyaXRpYyBjaGFyYWN0ZXJzCkVTYW5ub3Bl
			bmQpCi9Fc2NhcGVkUHJlYW1ibGUgKEVTYW5ub2VwJTVDZG9jdW1l
			bnRjbGFzcyU1QjEwcHQlNUQlN0JhcnRpY2xlJTdEJTBBJTVDdXNl
			cGFja2FnZSU1QnVzZW5hbWVzJTVEJTdCY29sb3IlN0QlMjAlMjV1
			c2VkJTIwZm9yJTIwZm9udCUyMGNvbG9yJTBBJTVDdXNlcGFja2Fn
			ZSU3QmFtc3N5bWIlN0QlMjAlMjVtYXRocyUwQSU1Q3VzZXBhY2th
			Z2UlN0JhbXNtYXRoJTdEJTIwJTI1bWF0aHMlMEElNUN1c2VwYWNr
			YWdlJTVCdXRmOCU1RCU3QmlucHV0ZW5jJTdEJTIwJTI1dXNlZnVs
			JTIwdG8lMjB0eXBlJTIwZGlyZWN0bHklMjBkaWFjcml0aWMlMjBj
			aGFyYWN0ZXJzJTBBRVNhbm5vZXBlbmQpCi9TdWJqZWN0IChFU2Fu
			bm90S0VTYW5ub3RlbmQpCi9Fc2NhcGVkU3ViamVjdCAoRVNhbm5v
			ZXNLRVNhbm5vZXNlbmQpCi9UeXBlIChFRXR5cGU0RUV0eXBlZW5k
			KQovQ29sb3IgKEVFY29sMC4wMDAwMDAgMC4wMDAwMDAgMC4wMDAw
			MDAgMS4wMDAwMDBFRWNvbGVuZCkKL0JLQ29sb3IgKEVFYmtjMS4w
			MDAwMDAgMS4wMDAwMDAgMS4wMDAwMDAgMS4wMDAwMDBFRWJrY2Vu
			ZCkKL1RpdGxlIChFRXRpdGxlRUV0aXRsZWVuZCkKL01hZ25pZmlj
			YXRpb24gKEVFbWFnMzYuMDAwMDAwRUVtYWdlbmQpCi9CYXNlbGlu
			ZSAoRUViYXMwLjAwMDAwMEVFYmFzZW5kKQo+PgplbmRvYmoKCnhy
			ZWYKMCAyMQowMDAwMDAwMDAwIDY1NTM1IGYgCjAwMDAwMDA0NDIg
			MDAwMDAgbiAKMDAwMDAwMDIyNSAwMDAwMCBuIAowMDAwMDA0MzM3
			IDAwMDAwIG4gCjAwMDAwMDAxMjMgMDAwMDAgbiAKMDAwMDAwMDAx
			NSAwMDAwMCBuIAowMDAwMDA0NDAyIDAwMDAwIG4gCjAwMDAwMDQy
			NzIgMDAwMDAgbiAKMDAwMDAwMDc4MiAwMDAwMCBuIAowMDAwMDAx
			MDM4IDAwMDAwIG4gCjAwMDAwMDEyNTYgMDAwMDAgbiAKMDAwMDAw
			MTMyMSAwMDAwMCBuIAowMDAwMDAxNjc4IDAwMDAwIG4gCjAwMDAw
			MDE5MzUgMDAwMDAgbiAKMDAwMDAwMjA4NCAwMDAwMCBuIAowMDAw
			MDAyMTA5IDAwMDAwIG4gCjAwMDAwMDIzMTcgMDAwMDAgbiAKMDAw
			MDAwMjM0OCAwMDAwMCBuIAowMDAwMDAyNDA3IDAwMDAwIG4gCjAw
			MDAwMDQ0NTkgMDAwMDAgbiAKMDAwMDAwNDUwOSAwMDAwMCBuIAp0
			cmFpbGVyCjw8IC9TaXplIDIxCi9Sb290IDE5IDAgUgovSW5mbyAy
			MCAwIFIKL0lEIFs8RkJDOEVEQzBENDU1MEQ2ODc5MERBODA1Mzg1
			QzY3MEQ+IDxGQkM4RURDMEQ0NTUwRDY4NzkwREE4MDUzODVDNjcw
			RD5dID4+CnN0YXJ0eHJlZgo3OTY1CiUlRU9G0iwtLi9aJGNsYXNz
			bmFtZVgkY2xhc3Nlc11OU011dGFibGVEYXRhoy4wMVZOU0RhdGFY
			TlNPYmplY3TTMwk0NTY3XE5TQXR0cmlidXRlc1hOU1N0cmluZ4AI
			gA6AB18Q0lxkb2N1bWVudGNsYXNzWzEwcHRde2FydGljbGV9Clx1
			c2VwYWNrYWdlW3VzZW5hbWVzXXtjb2xvcn0gJXVzZWQgZm9yIGZv
			bnQgY29sb3IKXHVzZXBhY2thZ2V7YW1zc3ltYn0gJW1hdGhzClx1
			c2VwYWNrYWdle2Ftc21hdGh9ICVtYXRocwpcdXNlcGFja2FnZVt1
			dGY4XXtpbnB1dGVuY30gJXVzZWZ1bCB0byB0eXBlIGRpcmVjdGx5
			IGRpYWNyaXRpYyBjaGFyYWN0ZXJzCtMJOgo7PD5XTlMua2V5c4AN
			oT2ACaE/gApWTlNGb2501AlCQ0RFRkdIVk5TTmFtZVZOU1NpemVY
			TlNmRmxhZ3OADIALI0AoAAAAAAAAEBBWTW9uYWNv0iwtS0xWTlNG
			b250oksx0iwtTk9cTlNEaWN0aW9uYXJ5ok4x0iwtUVJfEBJOU0F0
			dHJpYnV0ZWRTdHJpbmeiUzFfEBJOU0F0dHJpYnV0ZWRTdHJpbmfT
			Mwk0NTZXgAiADoAQUUvTCVpbXF1eXE5TQ29sb3JTcGFjZVVOU1JH
			QoASEAFGMCAwIDAA0iwtYGFXTlNDb2xvcqJgMdJjCWRlV05TLnRp
			bWUjQbRq2O2K17aAFNIsLWdoVk5TRGF0ZaJnMdIJamtsWU5TLnN0
			cmluZ4AWUNIsLW5vXxAPTlNNdXRhYmxlU3RyaW5no25wMVhOU1N0
			cmluZ9IsLXJzXxAPTGF0ZXhpdEVxdWF0aW9uo3R1MV8QD0xhdGV4
			aXRFcXVhdGlvbl8QD05TTWFuYWdlZE9iamVjdNIsLXd4V05TQXJy
			YXmidzFfEA9OU0tleWVkQXJjaGl2ZXLRe3xUcm9vdIABAAgAEQAa
			ACMALQAyADcAUwBZAF4AZQBwAHIAdAB2AI8AlwCiAKoAswC9AMYA
			2ADeAOQA6QDuAPAA8gD0APYA/wEIAQoBDAEOARABEgEUARoBHwEn
			ASkiiSKOIpkioiKwIrQiuyLEIssi2CLhIuMi5SLnI7wjwyPLI80j
			zyPRI9Mj1SPcI+Uj7CPzI/wj/iQAJAkkCyQSJBckHiQhJCYkMyQ2
			JDskUCRTJGgkbyRxJHMkdSR3JH4kiySRJJMklSScJKEkqSSsJLEk
			uSTCJMQkySTQJNMk2CTiJOQk5STqJPwlACUJJQ4lICUkJTYlSCVN
			JVUlWCVqJW0lcgAAAAAAAAIBAAAAAAAAAH0AAAAAAAAAAAAAAAAA
			ACV0
			</data>
			<key>bundleId</key>
			<string>fr.chachatelier.pierre.LaTeXiT</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverActionKey</key>
			<string>_Refresh</string>
			<key>serverAppName</key>
			<string>LaTeXiT</string>
			<key>serverName</key>
			<string>LaTeXiT</string>
			<key>version</key>
			<string>A</string>
		</dict>
	</array>
	<key>ImageList</key>
	<array>
		<string>image5.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>HierarchicalOrientation</key>
		<integer>0</integer>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2012-02-11 19:04:05 +0000</string>
	<key>Modifier</key>
	<string>Frank Wood</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>1</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAx7X05TU2l6ZT1mZn2WgWQCgRgDhg==</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>2</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{80, 120}, {1360, 754}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<false/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-97, 6}, {1346, 599}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
